body {
  margin: 8;
  padding: 0;
  color: #1a1a1a;
  font-family: 'Open Sans';
}

.container {
  display: flex;
  margin: 5px;
}

.column {
  border: 1px solid black;
}

#column1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  margin-right: 12px;
  /* Add 12px of margin to the right of the first column (adjust if needed) */
}

#headline {
  padding: 0 20px;
}

#headline h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.4;
}

h3 #sub-headline {
  font-size: 20px;
}

h3 #highlight {
  background-color: #ffcb24;
}

#selection-section {
  background-color: #ffcb24;
  padding: 30px 20px;
  flex-grow: 1;
}

#track-select {
  line-height: 2.5;
}

select {
  width: 160px;
  height: 35px;
  font-size: 16px;
}

#submit-section {
  text-align: center;
}

#submit-button,
#explore-track-button {
  color: #fff;
  background-color: #000;
  border: none;
  height: 35px;
  margin-top: 13px;
  font-weight: 800;
  width: 100%;
  border-radius: 5px;
}

#submit-button:hover,
#explore-track-button:hover {
  background-color: #333333;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

#column2 {
  flex: 2;
}

#empty-state {
  display: flex;
  height: 100%;
}

#empty-state #sub-column1 {
  flex: 2;
  padding: 20px 30px 70px 30px;
}

#university-text h4 {
  font-size: 22px;
  font-weight: 500;
}

#university-text p {
  font-size: 16px;
  font-weight: 300;
}

#arrow-img {
  margin-top: -20px;
  max-width: 80px;
}

#university-photo {
  background: url(assets/university-photo.png) no-repeat top;
  background-size: cover;
  min-height: 100%;
}

#empty-state #sub-column2 {
  flex: 1 80px;
}

#empty-state #sub-column2 img {
  max-width: 100%;
}

#selected-state {
  display: flex;
  flex-direction: column;
}

#selected-track-major-details, #selected-track-major-heading {
 padding: 0 40px;
}

#selected-track-major-details {
  column-count: 2;
  column-gap: 20px;
  font-size: 12px;
  font-weight: 300;
}

#selected-track-major-details p {
  margin-top: 0px;
  column-span: 2;
}

#selected-state .footer {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid black;
  padding: 12px 40px;
  background-color: #f9f9f9;
  align-items: center;
  flex-grow:inherit;
}

.footer .footer-left {     
  font-size: 22px;
  font-weight: 600;
} 

.footer .footer-right {  
  margin-left: 20px;
  border-left: 1px solid black;
  font-size: 12px;  
  font-weight: 300;
} 

.footer .footer-right p{     
  margin: 3px 0;  
  padding-left: 20px;
} 

/* Media query for screen size less than 576px */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    /* Stack the columns */
  }

  #column1 {
    margin-right: 0px;
    margin-bottom: 12px;
    /* Remove margin to the right of the first column */
  }

  #arrow-img {
    display: none;
    /* Remove arrow img when columns stack */
  }
}